{% extends "base.html" %}
{% block content %}
<h2>Users</h2>
<a href="{{ url_for('main.add_user') }}">Add User</a>
<table border="1">
    <tr><th>ID</th><th>Name</th><th>Email</th><th>Joined On</th><th>Actions</th></tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.joined_on }}</td>
        <td>
            <a href="{{ url_for('main.update_user', id=user.id) }}">Edit</a> |
            <a href="{{ url_for('main.delete_user', id=user.id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
